/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@100;200;400;700&display=swap");

/* Rest of the CSS styles */
/* styles.css */
$primary-red: rgb(185, 137, 129);
$primary-green: rgb(125, 131, 109);

$secondary-red: rgb(241, 209, 201);
$secondary-green: rgb(225, 227, 209);

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  padding: 5px 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

.navbar {
  background-color: $primary-green;
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.navbar-left {
  flex: 1; /* Takes up remaining space */
}

.navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-right ul li {
  margin-right: 25px;
}

.navbar-right ul li a {
  text-decoration: none;
  color: lighten($secondary-green, 5%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.9rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.logo {
  width: calc(100vw - 500px); /* Adjust as needed */
  min-width: 100px;
  max-width: 200px;
  padding: 0;
  margin: 0;
}

footer {
  background-color: darken($secondary-green, 10%);
  padding: 20px;
  text-align: center;
}

.home-section,
.features-section,
.pricing-section,
.contact-section {
  padding: 30px 0;
  text-align: center;
}

button {
  background-color: $primary-red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background-color: darken($primary-red, 10%);
  transform: scale(1.02);
}

.package {
  display: inline-block;
  margin: 20px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px; /* Set fixed width for the pricing cards */
}

.package h3 {
  color: lighten($primary-green, 5%);
}

.package button {
  background-color: $primary-green;
  margin-top: 20px;
  display: block;
}

.package button:hover {
  background-color: darken($primary-green, 10%);
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 30px 40px 30px 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 2px -1px 13px rgba(0, 0, 0, 0.2);
}
.contact-section h2 {
  color: $primary-green;
  margin-bottom: 20px;
  font-family: Verdana, sans-serif;
  font-weight: 100;
  // text-transform: uppercase;
  letter-spacing: -1px;
}

.contact-form input,
.contact-form textarea {
  width: 99%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-family: "Open Sans", Arial, sans-serif; /* Secondary font family */
}
.contact-form label {
  float: inline-start;
  color: darken($primary-green, 20%);
}

.contact-form button {
  width: 100%;
  background-color: $primary-green;
}

.contact-form button:hover {
  background-color: darken($primary-green, 10%);
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {
  max-width: 600px;
  text-align: center;
  margin-bottom: 40px;
}

.feature-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.feature h3 {
  color: $primary-green;
  margin-bottom: 10px;
}

.feature p {
  color: #555;
  line-height: 1.6;
}

.footer-left ul {
  list-style-type: none;
  padding: 0;
}

.footer-left ul li {
  display: inline;
  margin-right: 20px;
}

.footer-left ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer-right ul {
  list-style-type: none;
  padding: 0;
}

.footer-right ul li {
  display: inline;
  margin-right: 20px;
}

.footer-right ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

h1 {
  color: $primary-green;
  font-size: 3rem;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
